body {
    margin: 10px;
    text-align: center;
}

.bg-green {
    background-color: #F0FFF0;
}


/*======================================
*             intro section            *
======================================*/

header {
    height: 95vh;
    background-size: contain;
    background-position: center;
    background-image: url(../img/bg.jpg);
}

.intro {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 150%);
    color: #000;
    font-family: serif;
}

.intro h1 {
    font-size: 50px;
}

.logo {
    width: 50px;
}


/* iPad screen*/

@media only screen and (max-width: 1024px) {
    header {
        height: 60vh;
    }
    .intro {
        position: relative;
        transform: translate(-50%, 130%);
    }
}


/* Phone screen*/

@media only screen and (max-width: 767px) {
    header {
        height: 70vh;
    }
    .intro {
        position: relative;
        transform: translate(-50%, 130%);
    }
    .intro h1 {
        font-size: 34px;
    }
    .intro h2 {
        font-size: 25px;
    }
    .logo {
        width: 30px;
    }
}


/*======================================
*            scroll-down                *
======================================*/

section .title {
    position: relative;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section .title::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -86px;
    color: crimson;
    padding: 0 1px;
    background: #fff;
    transform: translateX(-50%);
}

.btn-section .title::after {
    font-size: 50px;
    content: "Button";
}