body {
    margin: 10px;
    text-align: center;
}

.bg-green {
    background-color: #F0FFF0;
}


/*======================================
*             intro section            *
======================================*/

header {
    height: 95vh;
    background-size: contain;
    background-position: center;
    background-image: url(../img/bg.jpg);
}

.intro {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 150%);
    color: #000;
    font-family: serif;
}

.intro h1 {
    font-size: 50px;
}


/* iPad screen*/

@media only screen and (max-width: 1024px) {
    header {
        height: 60vh;
    }
    .intro {
        position: relative;
        transform: translate(-50%, 130%);
    }
}


/* Phone screen*/

@media only screen and (max-width: 767px) {
    header {
        height: 70vh;
    }
    .intro {
        position: relative;
        transform: translate(-50%, 130%);
    }
    .intro h1 {
        font-size: 34px;
    }
    .intro h2 {
        font-size: 25px;
    }
}


/*======================================
*            scroll-down                *
======================================*/

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.4s;
}

@keyframes scroll-down {
    0% {
        /* top:20%; */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}