* {
    margin: 0;
    padding: 0;
}

body {
    background: #0A122A;
}

h2 {
    color: #fff;
    margin-top: 180px;
    text-align: center;
    font-size: 30px;
}

h2 a {
    color: #fff;
    font-weight: 700;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}

.wrapper ul li .fab {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
}


/*facebook*/

.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}


/*messenger*/

.wrapper ul li:hover.messenger {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook-messenger {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}


/* instagram */

.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}


/* github */

.wrapper ul li:hover.github {
    border: 5px solid #3f3433;
    box-shadow: 0 0 15px #3f3433;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
    color: #3f3433;
    text-shadow: 0 0 15px #3f3433;
    transition: all 0.5s ease;
}


/* whatsapp */

.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 768px) {
    .wrapper {
        width: 350px;
    }
    .wrapper ul li {
        margin-top: 10px;
        margin-left: 15px;
    }
    .wrapper ul li.github {
        margin-left: 60px;
    }
}

footer {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 50%;
    text-align: center;
}